<!DOCTYPE html>
<html lang="fi">
  <head>
    <title>::title::</title>
    <meta charset="UTF-8">
    <meta name="author" content="Sami Holck">
    <meta name="keywords" content="raisio, veneseura, veneily, laituripaikka">
    <meta name="description" content="Raision veneseuran kotisivut">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" type="text/css">
    <link rel="stylesheet" href="http://www.raisionveneseura.fi/_srcs/css/base.css" media="screen" type="text/css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css" media="screen" type="text/css">
    <link rel="icon" href="http://www.raisionveneseura.fi/_srcs/img/logo.png" media="screen" type="image/x-icon">
  </head>
  <body>
    <div class="top-row">
      <div class="row column expanded">
        <a href="http://www.raisionveneseura.fi/" title="Etusivulle">
          <img src="http://www.raisionveneseura.fi/_srcs/img/logo.png" alt="Raision veneseuran logo">
          <span>Raision Veneseura ry</span></a>
      </div>
    </div>
    <div class="row columns page show-logo">
      <h1>404: <small>Hakemaasi Sivua ei löytynyt</small></h1>
      <div style="width: 600px; margin-left: 60px;">
        ::content::
      </div>
    </div>
    <footer class="footer" id="footer">
      <div class="row columns">
        <ul class="social-icons icon-zoom icon-rounded"> 
          <li>
            <a href="https://www.facebook.com/groups/763725060384903/?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true" title="Löydät meidät myös Facebookista"></i></a>
          </li> 
        </ul>
        <ul class="social-icons icon-zoom icon-rounded techs"> 
          <li>
            <a href="https://www.w3.org/Style/CSS/" target="_blank" title="CSS3"><i class="fa fa-css3 small" aria-hidden="true"></i></a>
          </li> 
          <li>
            <a href="https://www.w3.org/TR/html5/" target="_blank" title="HTML5"><i class="fa fa-html5 small" aria-hidden="true"></i></a>
          </li> 
        </ul>
      </div>
      <div class="copyright">&copy; Raision Veneseura r.y.</div>
    </footer>
  </body>
</html>
